<div class="well">
  <p>{{comment.text}}</p>
  <p><small>{{comment.author}}, {{comment.date}}</small></p>
  <button class="btn btn-xs btn-link" {{action 'deleteComment' comment}}><small>Remove Comment</small></button>
</div>
