{{#if showComments}}

  <h4>Comments:</h4>
  <br>
  {{#each post.comments as |comment|}}
    {{comment-tile deleteComment='deleteComment' post=post comment=comment}}
  {{/each}}
  <br>
  {{comment-form post=post saveComment='saveComment'}}

{{else}}
  <button class="btn btn-xs btn-warning" {{action 'viewComments'}}>Comments</button>
{{/if}}
