<div class="container">
<ul class="nav nav-pills">
  <li role="presentation" class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
  <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
  <li role="presentation">{{#link-to 'contact'}}Contact{{/link-to}}</li>
</ul>
  <header>
    <div class="page-header">
      <h1>Ember Blog</h1>
    </div>
  </header>
  {{outlet}}
</div>
